
#root {
  margin: 0;
  padding: 2;
  text-align: center;
  width: 100vw;
}

.main-row {
    justify-content: space-evenly;
    margin-top: 2.5rem !important;
    gap: 1rem;
}

.main-card {  
    padding: 1rem;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.075);
    border: solid 1px rgb(232, 232, 232);
    border-radius: .7rem;
}

.title-main {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}