.navbarMain {
    width: 100vw;
    box-shadow: 0 0 .5rem rgba(0,0,0,.1);
    border: solid 1px rgb(232, 232, 232);
}

.nav-icons {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-userName {
    font-size: .8rem;
    margin-right: .6rem;
}
