.logoNavbar {
    margin: .3rem;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

.iconNavbar {
    margin: .4rem;
}

.nav-icons {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}