.appt-body {
    text-align: start;
    margin-left: 1rem;
}

.card-appt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-date {
    display: flex;
    align-items: center;
    font-size: .8rem;
    gap: 0.4rem;
    padding-right: 2rem;
}

.appt-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 1rem;
    margin-left: 1.4rem;
    margin-top: .7rem;
}


/* LAPTOP */
@media only screen and (min-width: 1000px) {
    .appt-body {
        margin-left: 2rem;
    }
    }