.appt-body {
    text-align: start;
    margin-left: 2rem;
}

.card-appt {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.info-date {
    display: flex;
    align-items: center;
    font-size: .8rem;
    justify-content: end;
    gap: 0.4rem;
    padding-right: 2rem;
}

.appt-footer {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    margin-left: 1.4rem;
    margin-top: .7rem;
}


