.secondNavbar {
    width: 100vw;
    background-color: #001c40;
}


.iconSecond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: .8rem;
    color: #ffffff;
    margin: .3rem
}