.logoNavbar {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-left: .5rem;
    gap: 0.3rem;
    align-items: center;
}

.logoImage {
    width: 2.8rem;
    height: 2.8rem;
}

.logotext {
    display:flex;
    flex-direction: column;
    color: #0c2950;  
    text-align: left; 
}

.logoTitle {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .04rem;
    transform: translate(0, .2rem);

}

.logoSubtitle {
    font-size: .75rem;
    transform: translate(0, -.3rem);

}

/* LAPTOP */
@media only screen and (min-width: 1000px) {
    .logoNavbar {
        margin-left: 2rem;
    }
    }