.title-user {
    display: flex;
    gap: .6rem;
    align-items: center;
    justify-content: center;
    padding: .8rem;
}

.title-user{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
