.navButton {
    border-radius: .6rem !important;
    padding: .3rem;
    width: 8.5rem;
    background-color: #0c2950;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: .5s ease box-shadow;
}

.navButton:hover {
    box-shadow: .2rem .2rem .3rem rgba(122, 152, 180, 0.481);
    transition: .3s ease box-shadow;
}
