.profile-row {
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2.5rem !important;
}

.profile-card {
    display: inline-flex;
    justify-content: space-around;
    padding: .5rem;
    flex-direction: row;
}

.id-card {
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    margin: .3rem;
    font-size: 0.8rem;
}

.data-card {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin: .5rem;
    overflow-x: auto;
    gap: .5rem;
}

.data-card span {
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    margin-left: 1rem;
}

.profile-footer {
    background-color: white !important;
    display: flex;
    flex-direction: row-reverse;
}

.title-card {
    color: #273d5d;
    font-weight: 700;
    margin-bottom: .2rem;
}