.profile-card {
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
}

.id-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.profile-card {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    overflow-x: auto;
    gap: .5rem;
    padding: 2rem;
}

.capital-letter {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #618ac1;
    color: white;
    font-size: 2.2rem;
    justify-content: center;
    display:flex;
    align-items: center;
}

.id-number {
    font-size: 0.8rem;
    margin-top: .2rem;
}

.title-profile {
    font-size: 1.8rem;
}

.subtitle-profile {
    font-size: .8rem;
    font-weight: 700;
}

.title-card {
    color: #273d5d;
    font-weight: 700;
    margin-bottom: .2rem;
    margin-right: 1rem;
}  

.info-user {
    overflow: hidden;
    word-break: break-word;
}

.profile-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 2rem;
}
